<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gálvez te premia con Pilsen Callao</title>
</head>

<body style="margin:0px; background-color:#000000;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000" height="100%">
  <tr>
    <td valign="top"><table width="828" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr bgcolor="#000000">
    <td style="text-align:center; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#999999;"><table width="828" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="460"><img src="<?php echo site_url();?>web/images/mail/galvez01.jpg" width="460" height="24" style="vertical-align:bottom;" /></td>
        <td width="10"><a href="http://www.pilsencallao.com.pe/buscando-galvez/mail/" target="_blank"><img src="<?php echo site_url();?>web/images/mail/galvez02.jpg" width="82" height="24" border="0" style="vertical-align:bottom;" /></a></td>
        <td width="358"><img src="<?php echo site_url();?>web/images/mail/galvez03.jpg" width="286" height="24" style="vertical-align:bottom;" /></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><a href="http://www.pilsencallao.com.pe/buscando-galvez" target="_blank"><img src="<?php echo site_url();?>web/images/mail/galvez04.jpg" width="828" height="263" alt="Pilsen Callao" style="vertical-align:bottom;" border="0" /></a></td>
  </tr>
  <tr>
    <td><a href="http://www.pilsencallao.com.pe/buscando-galvez" target="_blank"><img src="<?php echo site_url();?>web/images/mail/galvez05.jpg" width="828" height="309" style="vertical-align:bottom;" border="0" /></a></td>
  </tr>
  <tr>
    <td><a href="http://www.pilsencallao.com.pe/buscando-galvez" target="_blank"><img src="<?php echo site_url();?>web/images/mail/galvez06.jpg" width="828" height="307" style="vertical-align:bottom;" border="0" /></a></td>
  </tr>
  <tr>
    <td><a href="http://www.pilsencallao.com.pe/buscando-galvez" target="_blank"><img src="<?php echo site_url();?>web/images/mail/galvez07.jpg" width="828" height="222" style="vertical-align:bottom;" border="0" /></a></td>
  </tr>
  <tr bgcolor="#000000">
    <td style="text-align:justify;"><font size="1" face="Verdana, Arial, Helvetica, sans-serif" color="#999999"><br />
      <span style="font-family:Verdana, Arial, Helvetica, sans-serif; color:#999999;font-size:10px;">En concordancia con la Ley N&deg; 28493 y su reglamento, informamos que este correo publicitario ha sido enviado por  CERVECER&Iacute;AS PERUANAS BACKUS S.A.A. con domicilio en Av. Nicol&aacute;s Ayll&oacute;n 3986, Ate Vitarte - Lima; designando como correo electr&oacute;nico <a href="mailto:webmaster@pilsencallao.com.pe" style="color:#999999; font-weight:bold;">webmaster@pilsencallao.com.pe</a> y Nestor Escurra como persona de contacto, al cual puede enviar un mensaje para notificar su voluntad de no recibir m&aacute;s correos, o haciendo clic <a href="http://www.masterbase.com/pilsencallao/default.asp?email=#!email!#&amp;password=#!contrasena!#&amp;menu=anular" style="color:#999999; font-weight:bold;">aqu&iacute;</a>.</span><br />
      <br />
      </font></td>
  </tr>
    </table>
</td>
  </tr>
</table>
</body>
</html>
