<div id="wrapperPopup">
	<h1>Base de la promoción</h1>
	<div class="content-popup">
		<div style="float:left; width:100%; height:350px; overflow:auto;">
				<p>1. Esta promoción se realizará a nivel nacional exclusivamente para personas que sean mayores de 18 años, ingresando a nuestra página Web www.pilsencallao.com.pe.</p>
				<p>2. La promoción concluirá con el anuncio de los ganadores el <strong>miércoles 07 de Diciembre del 2011</strong>.</p>
				<p>3. Durante el desarrollo de esta campaña, los usuarios mayores de edad que deseen participar en esta promoción, deberán ingresar a la página web de nuestra marca Pilsen callao (www.pilsencallao.com.pe) registrarse y/o logearse, luego en el landing de la promoción el usuario visualizará  un mapa con 6 niveles en cada nivel encontrará 5 fotos, una foto por minuto que irán pasando, y tendrá que ubicar en una de ellas la imagen del Capitán Gálvez, personaje del comercial de la marca. Al cumplir dicho requisito podrá obtener una opción para dicho sorteo.</p>
				<p>4. Para participar en la elección del <strong>07 de Diciembre del 2011</strong> se deberá inscribir hasta las 9:00 horas del mismo día.</p>
				<p>5. Los consumidores inscritos en esta promoción participarán por:</p>
				<p>&bull; <strong>Para los tres primeros puestos del ranking el premio será de</strong>: Cerveza por un año que equivale a  una entrega total de  12cajas de cerveza Pilsen Callao conteniendo 24 unidades de botellas de 330ml. no retornable, es decir un total de doce cajas al año para cada ganador.</p>
				<p>&bull; <strong>Se sortearán entre los participantes</strong>, Cincuenta (50) packs Pilsen Callao, cada uno de los cuales contiene lo siguiente: 01 polo, 01 gorro, 01 llavero, 01 juego de posavasos y 01 caja de cerveza Pilsen Callao conteniendo 24 unidades de botellas de 330ml no retornable, correspondiendo un premio para cada ganador.</p>
				<p>6. Un participante sólo podrá ser ganador una vez.</p>
				<p>7. El sorteo se realizará en las oficinas administrativas de nuestra sede principal, ubicada en Av. Nicolás Ayllón N° 3986, Ate-Lima, bajo la certificación de un Notario Público de Lima, en presencia de un representante del Ministerio del Interior y ejecutivos de nuestra empresa, a las 11.00 horas del día <strong>07 de Diciembre del 2011</strong>.</p>
		</div>
	</div>
</div>