<div id="pie">
    <div class="inicio"><a href="<?php echo site_url();?>home" style="cursor:pointer;"><img src="<?php echo site_url()?>web/images/pie_home.png" align="top" border="0"></a></div>
    <div class="contactenos">
        <img src="<?php echo site_url()?>web/images/vineta2.png"  border="0" class="inicio">
        <a href="#" class="pie example7 cboxElement"> CONT&Aacute;CTENOS</a>
    </div>
    <div class="btn_producto">
        <a href="<?php echo site_url();?>productos" style="cursor:pointer;"> <img src="<?php echo site_url()?>web/images/nuestros_productos.png" align="bottom" border="0" height="40"></a>
    </div>
    <div class="btn_test">
        <a href="<?php echo site_url();?>test" style="cursor:pointer;"> <img src="<?php echo site_url()?>web/images/test_anua.png" align="bottom" border="0" height="40"></a>
    </div>
</div>